<h1>Orders</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Order #</th>
			<th>Customer</th>
			<th>Merchant</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%=link_to order.id, order_path(order) %></td>
			<td><%=order.customer.name%></td>
			<td><%=order.merchant.name%></td>
			<td><%=number_to_currency order.total%></td>
		</tr>
		<% end %>
	</tbody>
	
</table>